node_modules/

yarn-error.log

yarn.lock

.env

.vscode/

.idea/

# Binaries for programs and plugins

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# go project
market-center-go/src/config/main.toml

# node project
market-center-node/logs/*

# crawler-kline
crawler-kline/.env
crawler-kline/node_modules

# .env.local
crawler-kline/.env.development.local
crawler-kline/.env.test.local
crawler-kline/.env.production.local
